---
import BaseLayout from "../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";
// Get all entries from a collection. Requires the name of the collection as an argument.
const allBlogPosts = await getCollection("blog");
allBlogPosts.sort((a, b) => b.data.date - a.data.date);

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <div>
    {
      allBlogPosts.map((blogPostEntry) => (
        <article>
          <h1>
            <a href={`/posts/${blogPostEntry.slug}`}>
              {blogPostEntry.data.title}
            </a>
          </h1>
          <time datetime={blogPostEntry.data.date.toISOString()}>
            {blogPostEntry.data.date.toDateString()}
          </time>
        </article>
      ))
    }
  </div>
</BaseLayout>
