---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";
// Get all entries from a collection. Requires the name of the collection as an argument.
const allBlogPosts = await getCollection("blog");
allBlogPosts.sort((a, b) => b.data.date - a.data.date);
const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="mb-6">
    <h1 class="text-xl pb-4">{pageTitle}</h1>
    <p>Husband, father of two, software engineer, hi-fi gear and music nerd.</p>
    <p>
      This blog is a place for me to try out new software, technologies and
      trends in web development. This iteration of this blog is built with <a
        href="https://astro.build/">Astro</a
      > (previous version was built with <a href="https://www.gatsbyjs.com/"
        >Gatsby</a
      >).
    </p>
  </section>

  <section>
    <h2 class="text-lg uppercase mb-4">Recent Blog Posts</h2>
    {
      allBlogPosts.map((blogPostEntry) => (
        <article class="mb-4">
          <h1 class="text-lg">
            <a href={`/posts/${blogPostEntry.slug}`}>
              {blogPostEntry.data.title}
            </a>
          </h1>
          <time
            class="text-sm"
            datetime={blogPostEntry.data.date.toISOString()}
          >
            {blogPostEntry.data.date.toDateString()}
          </time>
        </article>
      ))
    }
  </section>
  <a href="/blog/" class="uppercase">Visit the full blog</a>
</BaseLayout>
