---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";
// Get all entries from a collection. Requires the name of the collection as an argument.
const allBlogPosts = await getCollection("blog");
const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <h1>{pageTitle}</h1>
    <p>Husband, father of two, software engineer, hi-fi gear and music nerd.</p>
    <p>
      This blog is a place for me to try out new software, technologies and
      trends in web development. This iteration of this blog is built with <a
        href="https://astro.build/">Astro</a
      > (previous version was built with <a href="https://www.gatsbyjs.com/"
        >Gatsby</a
      >).
    </p>
  </section>

  <section>
    <h1>Recent Blog Posts</h1>
    <ul>
      {
        allBlogPosts.map((blogPostEntry) => (
          <li>
            <a href={`/posts/${blogPostEntry.slug}`}>
              {blogPostEntry.data.title}
            </a>
            <time datetime={blogPostEntry.data.date.toISOString()}>
              {blogPostEntry.data.date.toDateString()}
            </time>
          </li>
        ))
      }
    </ul>
    <a href="/blog/">Visit the full blog</a>
  </section>
</BaseLayout>
